//@use '~@angular/material' as mat;
//@include mat-core();
//@import '~@angular/material/theming';
//@use '~@angular/typography/typography';
//@at-root '~@angular/typography/typography-utils';
//@import 'var.scss';
//@use 'sass:map';

@use 'sass:map';
@use '@angular/material' as mat;
@import '~@angular/material/theming';
/*$color-config:    mat.get-color-config($theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');
$is-dark-theme:   map.get($color-config, 'is-dark');*/
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
:host {
    display: flex;
    justify-content: center;
    margin-top: .5rem;

    .mat-raised-button {
        align-self: flex-end;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        min-width: 700px;
    }

    .row-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        mat-label,
        mat-slide-toggle,
        mat-radio-group {
            align-self: center;
        }
        .selected-country-view{
            margin-left: 0.2rem;
        }
        .mat-error{
            background-color: #f44336;
            color: white;
            margin-top: 2px;
            border-radius: 5px;
        }
        ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple{
            //background-color: mat-color($mat-indigo) !important;
            background-color: mat-color($primary) !important;
        }
    }
}

.img-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-flag {
        border-radius: 15%;
        width: 50px;
    }
}