@use '@angular/material/' as mat;

@include mat.core();
$primary-from-palette: mat.$m2-indigo-palette;
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$theme-accent: mat.m2-define-palette(mat.$m2-cyan-palette);

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;

    .chart-wrapper {
        width: 35%;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        align-self: flex-start;
    }

    .row-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

        mat-label,
        mat-slide-toggle,
        mat-radio-group {
            align-self: center;
        }

        .selected-country-view {
            margin-left: 0.2rem;
        }

        .mat-error {
            background-color: #f44336;
            color: white;
            margin-top: 2px;
            border-radius: 5px;
        }

   
    }

    @media only screen and (max-width: 1400px) {

        flex-direction: column;

        .chart-wrapper {
            width: 40%;
            align-self: center;
        }
        .form-container {align-self: inherit;}

    }

    @media only screen and (max-width: 900px) {

        .chart-wrapper {
            width: 50%;
            align-self: center;
        }

        .mat-raised-button {
            align-self: stretch;
        }

       
        .form-container {align-self: inherit;}
    }


    @media only screen and (max-width: 770px) {
        justify-content: stretch;
        align-items: stretch;

        .chart-wrapper {
            width: 75%;
            align-self: center;
        }
        .form-container {align-self: inherit;}
        .row-form {
            grid-template-columns: 1fr;
        }

    }
}

.img-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-flag {
        border-radius: 15%;
        width: 50px;
    }
}