<mat-toolbar color="primary" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <!-- Account balance icon button -->
        <mat-icon>account_balance</mat-icon>
    </button>
    <span>Tax Manager</span>
    <span class="toolbar-spacer "></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- Favorite icon button -->
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <!-- Share icon button -->
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>